
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<!-- Old Table Index
<table>
  <thead>
    <tr class="product_table">
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
-->

    <div class="container-fluid">
      <div class="row">
        <%= render @products %>
      </div>
    </div>



 
<br>

<%= link_to 'New Product', new_product_path %>

